* {
    box-sizing: border-box;
}

#prosperInput {
    position: fixed;
    top: 0;
    display: block;
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid gray;
    box-shadow: 2px 2px 5px gray;
    height: 70vh;
    padding: 1em;
    width: 30%;
}

#prosper-graph {
    position: fixed;
    top: 0;
    display: block;
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid gray;
    box-shadow: 2px 2px 5px gray;
    height: 70vh;
    right: 0;
    width: 70%;
}

prosper-output {
    position: fixed;
    display: block;
    max-height: 100vh;
    width: 100%;
    overflow: auto;
    bottom: 0;
}

output {
    display: inline-block;
    vertical-align: bottom;
    padding: 0.5em;
    width: 100%;
}

output > * {
    clear: both;
    display: block;
    padding: 0.4em;
    border-radius: 0.3em;
    margin-top: 0.3em;
}

output .question {
    float: right;
    color: white;
    background: #3cc83c;
}

output .answer {
    float: left;
    background: lightgray;
}

body {
    margin: 0;
}