@mixin overboard($height) {
  position: fixed;
  top: 0;
  display: block;
  overflow: auto;
  opacity: 0.9;
  border: 1px solid gray;
  box-shadow: 2px 2px 5px gray;
  height: $height;
  z-index: 1;
}
