<h1><a href="https://github.com/Javarome/prosper" target="_blank">Prosper</a></h1>
<form (submit)="submit()">

  <fieldset>
    <legend>Input</legend>
    <label for="prosper-input">Input</label> <input [(ngModel)]="value" id="prosper-input" name="value"> <input
      type="submit">
    <label for="sample-type">sampled as</label> <select id="sample-type" name="sampleType" [(ngModel)]="sampleType">
    <option *ngFor="let item of sampleTypes" [ngValue]="item">{{item.label}}</option>
  </select>
  </fieldset>

  <fieldset>
    <legend>Iteration</legend>
    <label for="iteration-type">Type</label>
    <select id="iteration-type" name="iterationType" [(ngModel)]="iterationType">
      <option *ngFor="let item of iterationTypes" [ngValue]="item">{{item.label}}</option>
    </select>
    <div *ngIf="iterationType==autoIteration">
      <label for="speed">delay</label> <input [(ngModel)]="speed" id="speed" name="speed" type="number">
    </div>
    <button
        *ngIf="iterationType==manualIteration"
        type="button"
        (click)="iteration.next()"
      [disabled]="!iteration || !iteration.hasNext"
      title="Click to process next node"
    >Next
    </button>
  </fieldset>

</form>
<fieldset>
  <legend>Memory</legend>
  <label for="min-node-size">Minimum node size</label> <input (change)="replay()"
  [(ngModel)]="prosper.minNodeSize" id="min-node-size" step="0.1" type="number"> <label
  for="activation-gain">Activation gain</label> <input (change)="replay()" [(ngModel)]="prosper.activationGain"
  id="activation-gain" step="0.1"
  type="number"> <label for="deactivation-loss">Deactivation loss</label> <input (change)="replay()"
  [(ngModel)]="prosper.deactivationLoss" id="deactivation-loss" step="0.1" type="number"> <label
  for="activated-min">Activated minimum</label> <input (change)="replay()" [(ngModel)]="prosper.activatedMin"
  id="activated-min" step="0.1" type="number">
  <button (click)="refresh()">Refresh</button>
  <button (click)="reset()" [disabled]="empty">Reset</button>
  <button (click)="replay()" [disabled]="empty">Replay</button>
  <button (click)="save()" [disabled]="empty">Save</button>
  or <input id="memoryFile" name="memoryFile" type="file" value="Upload"> to
  <button (click)="upload()">Upload</button>
</fieldset>
