<h1><a href="https://github.com/Javarome/prosper" target="_blank">Prosper</a></h1>
<form (submit)="submit()">

  <fieldset>
    <legend>Input</legend>
    <label for="prosper-input">Input</label> <input id="prosper-input" name="value" [(ngModel)]="value">
    <input type="submit"> <label for="sample-type">sampled as</label>
    <select id="sample-type" name="sampleType" [(ngModel)]="sampleType">
      <option *ngFor="let item of sampleTypes" [ngValue]="item">{{item.label}}</option>
    </select>
  </fieldset>

  <fieldset>
    <legend>Iteration</legend>
    <select id="iteration-type" name="iterationType" [(ngModel)]="iterationType">
      <option *ngFor="let item of iterationTypes" [ngValue]="item">{{item.label}}</option>
    </select>
    <div *ngIf="iterationType==autoIteration">
      <label for="speed">delay</label> <input id="speed" name="speed" [(ngModel)]="speed" type="number">
    </div>
    <button
        *ngIf="iterationType==manualIteration"
        type="button"
        (click)="iteration.next()"
        [disabled]="!iteration || !iteration.hasNext"
        title="Click to process next node"
    >Next
    </button>
  </fieldset>

</form>
<fieldset>
  <legend>Memory</legend>
  <label for="min-node-size">Minimum node size</label>
  <input id="min-node-size" type="number" step="0.1" [(ngModel)]="prosper.memory.minNodeSize" (change)="replay()">
  <label for="activation-gain">Activation gain</label>
  <input id="activation-gain" type="number" step="0.1" [(ngModel)]="prosper.memory.activationGain" (change)="replay()">
  <label for="deactivation-loss">Deactivation loss</label>
  <input id="deactivation-loss" type="number" step="0.1" [(ngModel)]="prosper.memory.deactivationLoss" (change)="replay()">
  <label for="activated-min">Activated minimum</label>
  <input id="activated-min" type="number" step="0.1" [(ngModel)]="prosper.memory.activatedMin" (change)="replay()">
  <button (click)="refresh()">Refresh</button>
  <button (click)="reset()" [disabled]="empty">Reset</button>
  <button (click)="replay()" [disabled]="empty">Replay</button>
  <button (click)="save()" [disabled]="empty">Save</button>
  or <input name="memoryFile" type="file" id="memoryFile" value="Upload"> to
  <button (click)="upload()">Upload</button>
</fieldset>