<h1><a href="https://github.com/Javarome/prosper" target="_blank">Prosper</a></h1>
<form (submit)="submit()">

  <fieldset>
    <legend>Input</legend>
    <label for="prosper-input">Input</label> <input id="prosper-input" name="value" [(ngModel)]="value">
    <input type="submit"> <label for="sample-type">sampled as</label>
    <select id="sample-type" name="sampleType" [(ngModel)]="sampleType">
      <option *ngFor="let item of sampleTypes" [ngValue]="item">{{item.label}}</option>
    </select>
  </fieldset>

  <fieldset>
    <legend>Iteration</legend>
    <select id="iteration-type" name="iterationType" [(ngModel)]="iterationType">
      <option *ngFor="let item of iterationTypes" [ngValue]="item">{{item.label}}</option>
    </select>
    <div *ngIf="iterationType==autoIteration">
      <label for="speed">delay</label> <input id="speed" name="speed" [(ngModel)]="speed" type="number">
    </div>
    <button
        *ngIf="iterationType==manualIteration"
        type="button"
        (click)="iteration.next()"
        [disabled]="!iteration || !iteration.hasNext"
    >Next
    </button>
  </fieldset>

</form>
<fieldset>
  <legend>Memory</legend>
  <button (click)="refresh()">Refresh</button>
  <button (click)="reset()" [disabled]="empty">Reset</button>
  <button (click)="replay()" [disabled]="empty">Replay</button>
  <button (click)="save()" [disabled]="empty">Save</button>
  or <input name="memoryFile" type="file" id="memoryFile" value="Upload"> to
  <button (click)="upload()">Upload</button>
</fieldset>