<h1>Prosper</h1>
<form (submit)="submit()">
  <label for="sample-type">Sample</label> <select id="sample-type" name="sampleType" [(ngModel)]="sampleType">
  <option *ngFor="let item of items" [ngValue]="item">{{item.label}}</option>
</select> <label for="prosper-input">Input</label> <input id="prosper-input" name="value" [(ngModel)]="value"> with
  <label for="speed">delay</label> <input id="speed" name="speed" [(ngModel)]="speed" type="number">
  <input type="submit">
</form>
<button (click)="refresh()">Refresh</button>
<button (click)="reset()">Reset</button>
<button (click)="save()">Save</button>